body {
 background: #f5f5f5;
 font-family: Verdana, Arial;
 font-size:90%;
}

/* vorm */
form {
margin-left:15px;

}
h3, h6{
color:#009500;
}

p{
font-weight:bold;
margin-top:-15px;
}
/* Registreeru siin link*/
a:link,a:visited{color:black;
font-weight:bold;
text-decoration:none;
}
a:hover, a:active{
color:black;
text-decoration:underline;
font-weight:normal;
}
#stellimus{
margin-top:10px;}
label {
display:block;
color: #0132A0;
font-weight:bold;
margin-bottom: 12px;
}

input {
margin-bottom:10px;
size: 60;
width:300px;
}
input[type='text']:hover{
background-color:#ddd;
}
input[type='text']:focus{
background-color:#ddd;
outline: 2px solid #39e;
}
button{
margin-top: 25px;
width:75px;
margin-right:5px;
}
#close{
width: 150px;
}
/*õnnestumise teade*/
.green{
color:#009500;
margin-top: 25px;
font-size: 125%;
}
/*ebaõnnestumise teade*/

.warning{
font-size: 80%;
color:#ff0000;

}

.pwdw{
margin-top:5px;
}


